/* {picnicc:section-1} */
.center {
	text-align: center;
}
/* { / picnicc } */

/* {picnicc:section-2} */
.left {
	text-align: left;
}
/* { / picnicc } */

/* {picnicc:section-3} */
.right {
	text-align: right;
}
/* { / picnicc } */